.user-options {
    position: absolute;
    top: 120%;
    right: 0;
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
    z-index: 999;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.user-option {
    cursor: pointer;
    border-radius: 8px;
    padding: 8px;
    border-bottom: 0.5px solid #f1f1f1;
    transition: all 0.3s;
}

.user-option:last-child {
    border-bottom: none;
}

.user-option:hover {
    background-color: #f1f1f1;
    color: gray;
}